
.About-EEU {
    text-align: center;
  }
  
  .About-EEU-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .About-EEU-logo {
      animation: About-EEU-logo-spin infinite 20s linear;
    }
  }
  
  .About-EEU-header {
    background-color: #f1f5fd;
    min-height: 100vh;
    display: block;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  .imge {
    height: 12rem;
    width: 50rem;
    border: 8px solid rgba(255,255,255,0.12);
  }
  
  .About-EEU-link {
    color: #61dafb;
  }
  
  @keyframes About-EEU-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  