.info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #f80000;
    /*margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;*/
  
    /*Added by D*/
    border: none;
    resize: none;  
    width: 100%; /* Make the textarea width 100% of its container */
    max-width: 100%;
    min-width: 50%; /* Ensure it doesn't exceed the container's width */
  }